<DialogPopup>
    <DialogContent>
        <h5>I'm a test dialog</h5>
    </DialogContent>
    <DialogActions>
        <DxButton Text="Ok" Click="@OkClickedHandler"></DxButton>
        <DxButton Text="Cancel" Click="@CancelClickedHandler" RenderStyle="ButtonRenderStyle.Light"></DxButton>
    </DialogActions>
</DialogPopup>
